<div class="container">
  <div class="header">
    <h2>Account Management</h2>
    <div class="action-buttons">
      @if (account && !showUpdateAccountForm && !showCreateAccountForm && !showCheckAccountForm) {
        <button
          mat-raised-button
          color="primary"
          (click)="showUpdateForm()"
        >
          Update Account
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="deleteAccount()"
        >
          Delete Account
        </button>
      }
      @if (!account && !showUpdateAccountForm && !showCreateAccountForm && !showCheckAccountForm) {
        <button
          mat-raised-button
          color="primary"
          class="create-button"
          (click)="showCreateForm()"
        >
          Create New Account
        </button>
        <button
          mat-raised-button
          color="accent"
          class="check-button"
          (click)="showCheckForm()"
        >
          Having an account? Click Here.
        </button>
      }
    </div>
  </div>

  <div class="content">
    @if (!showCreateAccountForm && !account && !showUpdateAccountForm && !showCheckAccountForm) {
      <div class="intro-section">
        <h3>Welcome to Our Account Management System</h3>
        <p>
          Explore our services and benefits. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Nullam ultricies tincidunt massa, a aliquet
          odio scelerisque vel.
        </p>
        <p>
          For more information about our services, visit
          <a href="#">www.rewabank.com</a>
        </p>
      </div>
    }

    @if (account && !showUpdateAccountForm) {
      <mat-card class="card">
        <mat-card-title>Account Details</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="card-content">
          <div class="detail-item"><strong>Name:</strong> {{ account.name }}</div>
          <div class="detail-item">
            <strong>Email:</strong> {{ account.email }}
          </div>
          <div class="detail-item">
            <strong>Mobile Number:</strong> {{ account.mobileNumber }}
          </div>
          <div class="detail-item">
            <strong>Account Number:</strong>
            {{ account.accountsDto?.accountNumber }}
          </div>
          <div class="detail-item">
            <strong>Branch Address:</strong>
            {{ account.accountsDto?.branchAddress }}
          </div>
          <div class="detail-item">
            <strong>Account Type:</strong> {{ account.accountsDto?.accountType }}
          </div>
          <div class="detail-item">
            <strong>Account Category:</strong>
            {{ account.accountsDto?.accountCategory }}
          </div>
          <div class="detail-item">
            <strong>Account Status:</strong>
            {{ account.accountsDto?.accountStatus }}
          </div>
        </mat-card-content>
      </mat-card>
    }

    @if (showCreateAccountForm) {
      <mat-card class="card create-form">
        <mat-card-title>Create New Account</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="card-content">
          <form [formGroup]="accountForm" (ngSubmit)="createNewAccount()">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" required />
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" required />
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Select Account Type</mat-label>
              <mat-select formControlName="accountType" required>
                @for (type of accountTypes; track type) {
                  <mat-option [value]="type">
                    {{ type }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Mobile Number</mat-label>
              <input
                matInput
                formControlName="mobileNumber"
                type="tel"
                required
              />
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              class="submit-button"
            >
              Create Account
            </button>
            <h1></h1>
            @if (!account && !showUpdateAccountForm && showCreateAccountForm && !showCheckAccountForm) {
              <button
                mat-raised-button
                color="accent"
                class="check-form-button"
                (click)="showCheckForm()"
                type="button"
              >
                Having an account? Click Here.
              </button>
            }
          </form>
        </mat-card-content>
      </mat-card>
    }

    @if (showUpdateAccountForm) {
      <mat-card class="card update-form">
        <mat-card-title>Update Account details</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="card-content">
          <form [formGroup]="accountForm" (ngSubmit)="updateAccount()">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Mobile Number</mat-label>
              <input matInput formControlName="mobileNumber" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Account Number</mat-label>
              <input matInput formControlName="accountNumber" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Branch Address</mat-label>
              <input matInput formControlName="branchAddress" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Account Type</mat-label>
              <input matInput formControlName="accountType" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Account Category</mat-label>
              <input matInput formControlName="accountCategory" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Account Status</mat-label>
              <input matInput formControlName="accountStatus" />
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              class="submit-button"
            >
              Update Account
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    }

    @if (showCheckAccountForm) {
      <mat-card class="card check-form">
        <mat-card-title>Check Existing Account</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="card-content">
          <form
            [formGroup]="checkAccountForm"
            (ngSubmit)="checkExistingAccount()"
          >
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Mobile Number</mat-label>
              <input
                matInput
                formControlName="mobileNumber"
                type="tel"
                required
              />
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              class="submit-button"
            >
              Check Existing Account
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
