/* src/app/components/manage-beneficiaries/manage-beneficiaries.component.scss */
.manage-beneficiaries-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #000509, #0066cc); /* Page background color as blue gradient */
    padding: 20px;
  }
  
  .manage-beneficiaries {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    box-shadow: 0 4px 8px rgb(254, 253, 253);
    border-radius: 8px;
    background-color: #050113;
  }
  
  h2 {
    text-align: center;
    font-size: 1.8em;
    color: #3c8bd0;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    background-color: #3c8bd0;
    color: #ffffff;
    border: none;
    border-radius: 4px;
  }
  
  button[type="submit"]:hover {
    background-color: #2b6ca3;
  }
  