/* src/app/authentication/components/forgot-password/forgot-password.component.scss */
.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #000509,  #0066cc); // Page background color as blue gradient
  padding: 20px;
}

mat-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  display: flex; /* Added */
  flex-direction: column; /* Added */
  align-items: center; /* Added */
  justify-content: center; /* Added */
}

.full-width {
  width: 100%;
}

.message {
  margin-top: 10px;
  color: #f00;
  text-align: center;
  font-weight: bold;
}

mat-card-title {
  text-align: center;
  font-size: 1.8em;
  color: #3c8bd0;
  margin-bottom: 10px;
}

mat-card-content {
  width: 100%; /* Added */
  padding: 20px;
}

mat-form-field {
  margin-bottom: 20px;
  width: 100%;
}

button[mat-raised-button] {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
  background-color: #3c8bd0;
  color: #fff;
}

button[mat-raised-button]:hover {
  background-color: #2b6ca3;
}
