/* src/app/not-found/not-found.component.scss */
.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #000509,  #0066cc); // Page background color as blue gradient
  text-align: center;
}

mat-card {
  width: 100%;
  max-width: 500px; /* Adjusted max-width to make the card wider */
  padding: 20px;
  box-shadow: 0 4px 8px rgb(253, 253, 253);
  border-radius: 8px;
  background-color: #6196a9; // Form card background color as black
}

.mat-card-title {
  text-align: center;
  font-size: 1.8em;
  color: #f30909;
  margin-bottom: 10px;
  white-space: nowrap; /* Ensures title stays in one line */
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-card-content {
  padding: 20px;
}

.message {
  margin-top: 10px;
  color: rgb(254, 250, 250);
  font-weight: bold;
  white-space: nowrap; /* Ensures message stays in one line */
  overflow: hidden;
  text-overflow: ellipsis;
}
