// /* src/app/authentication/components/forgot-password/forgot-password.component.scss */
// .change-password-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   background-color: #3c8bd0;
//   padding: 20px;
// }

// mat-card {
//   width: 100%;
//   max-width: 400px;
//   padding: 20px;
//   box-shadow: 0 4px 8px rgba(235, 227, 227, 0.948);
// }

// .full-width {
//   width: 100%;
// }

// .message {
//   margin-top: 10px;
//   color: rgb(249, 5, 25);
// }

// mat-card-title {
//   text-align: center;
//   font-size: 1.5em;
// }

// mat-card-content {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// mat-form-field {
//   margin-bottom: 20px;
// }

// button[mat-raised-button] {
//   width: 100%;
// }


/* src/app/authentication/components/forgot-password/forgot-password.component.scss */
.change-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #000509,  #0066cc); // Page background color as blue gradient
  padding: 20px;
}

mat-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.full-width {
  width: 100%;
}

.message {
  margin-top: 10px;
  color: #f00;
  text-align: center;
  font-weight: bold;
}

mat-card-title {
  text-align: center;
  font-size: 1.8em;
  color: #3c8bd0;
  margin-bottom: 10px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

mat-form-field {
  margin-bottom: 20px;
  width: 100%;
}

button[mat-raised-button] {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
  background-color: #3c8bd0;
  color: #fff;
}

button[mat-raised-button]:hover {
  background-color: #2b6ca3;
}
